.container {
    display: grid;
    grid-template-columns: 1vw repeat(6, 1fr) 1vw;
    grid-template-rows: 1fr max-content max-content;
    grid-gap: 3rem;
    margin-top: 1rem;
    @media only screen and (max-width: $bp-small) {
        grid-gap: 2rem;
    }
}